<footer>
    
    
    <div id="footer-body">
        <div class="f-body-wrap container">

            <nav id="nav-f">
                <ul>
                    <li><a href="vi-VN/ve-xe-phuong-trang-lich-trinh.html">Lịch trình</a></li>
                    <li><a href="vi-VN/ve-xe-phuong-trang-ve-chung-toi.html">Về chúng tôi</a></li>
                    <li><a href="vi-VN/ve-xe-phuong-trang-dieu-khoan-su-dung.html">Điều khoản sử dụng</a></li>
                    
                    <li><a href="vi-VN/ve-xe-phuong-trang-tin-tuc.html">Tin tức</a></li>
                    <li><a target="_blank" href="https://vieclam.futabus.vn/">Tuyển dụng</a></li>
                    <li><a href="vi-VN/cau-hoi-thuong-gap.html">Hỏi &amp; Đáp</a></li>
                </ul>
            </nav>

            <div id="f-info" class="row">
                <div class="col-md-5 col-md-offset-2">
                    <div id="download_btn">
                        <ul>
                            <li>Tải app FUTA Bus tại</li>
                            <li>
                                <a href="https://itunes.apple.com/us/app/futa/id1049039667" target="_blank">
                                    <img src="/futabus.vn/Content/img/app-store.png">
                                </a>
                                <a href="https://play.google.com/store/apps/details?id=com.futabus.activity" target="_blank">
                                    <img src="/futabus.vn/Content/img/an-droid.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="social">
                        <ul style="text-align:left">
                            <li>Kết nối với chúng tôi</li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/xephuongtrang">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href>
                                    <i class="fa fa-google-plus-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href>
                                    <i class="fa fa-twitter-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-5 text-left">
		    <a target="_blank" href="http://www.online.gov.vn/CustomWebsiteDisplay.aspx?DocId=14037">
			<img src="/futabus.vn/Content/img/private/dathongbao-bocongthuong.png" class="logo-bocongthuong">
		    </a>                   
                </div>

            </div>

            <div class="f-copy">
                
                
                <p>&copy; 2001-2016 | Bản quyền thuộc về Công ty Cổ Phần Xe Khách Phương Trang FUTA Bus Lines | <a href>www.futabus.vn</a></p>
            </div>
        </div>
    </div>

</footer>
        </div>
    </div>
    
    <script type="text/javascript" src="/futabus.vn/Content/js/jquery-1.11.3.min.js"></script>
    
    
    <script type="text/javascript" src="/futabus.vn/Content/js/bootstrap.min.js"></script>
    
    
    <script src="/futabus.vn/Content/plugins/sidebar/slidebars.js"></script>
    <script src="/futabus.vn/Content/js/main.js"></script>
    <script src="/futabus.vn/Content/js/modernizr.js"></script>
    <script src="/futabus.vn/Content/js/jquery.barrating.es5.js"></script>
    <script type="text/javascript" src="/futabus.vn/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
            <script type="text/javascript">
                $(function () {
                    moment.locale("vi");
                });
            </script>

    <script>
        (function ($) {
            $(document).ready(function () {
                $.slidebars({
                    //siteClose: true,
                    disableOver: 768,
                    hideControlClasses: true,
                    scrollLock: true
                });
            });
        })(jQuery);
        
    </script>

    
    

    
    

    
    <script type="text/javascript" src="/futabus.vn/Content/plugins/flexslider/jquery.flexslider-min.js"></script>
    
    <script type="text/javascript" src="/futabus.vn/Content/plugins/sliderTabs/jquery.sliderTabs.min.js"></script>
    

    <script type="text/javascript" src="/futabus.vn/bower_components/bootstrap-select/js/bootstrap-select.min.js"></script>
    
    <script type="text/javascript" src="/futabus.vn/Content/js/moment.min.js"></script>
    
    <script type="text/javascript" src="/futabus.vn/Content/js/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    
    <script type="text/javascript" src="/futabus.vn/Content/js/bootstrap-datepicker/locales/bootstrap-datepicker.vi.min.js"></script>
    
    <script src="/futabus.vn/Content/js/jquery.bootstrap.newsbox.min.js"></script>
    <script type="text/javascript" src="/futabus.vn/Content/js/helper.min.js"></script>
    
    
    

    
    <script type="text/javascript" src="https://api2.futabus.vn/api/getsettings.js?v=1&a=webApp"></script>
	

    
    
    <script type="text/javascript" src="/futabus.vn/Content/js/booking-partials.js"></script>
    
    
    
    
    <script src="/futabus.vn/Content/js/waypoints.min.js"></script>
    <script src="/futabus.vn/Content/js/jquery.counterup.min.js"></script>
    <script src="/futabus.vn/Content/js/wow.js"></script>
    
        


    <!-- GA Tracking -->
    		
    <!-- End GA Tracking -->

</body>
</html>