<%- include ('../partials/header') %>  
<style>
    .active-seat {
        color: red
    }
</style>
<section id="body-content">
    <div id="steps" class="container">
        <ul class="list-step clearfix">
            <a style="color: black;"href="/"><li>Chọn tuyến <span></span> </li></a>
            <a  style="color: black;"href="/chon-ghe"><li class="active end">Chọn ghế <span></span> </li></a>
            <a  style="color: black;" href="/thong-tin-khach-hang"><li>Thông tin khách hàng <span></span> </li></a>
            <a  style="color: black;" href="/hoan-thanh-dat-ve"><li >Thanh toán <span></span></li></a>
        </ul>
    </div>

    <div id="content-steps" class="container">
    <div class="row">
    <div class="col-sm-4 col-xs-12 col-ms-12">
        <div class="panel">
            <p class="text-center text-primary text-uppercase">TP.Hồ Chí Minh - Đà Nẵng ngày <span ng-bind-html="step1Info.departureDate|svcDate">06-05-2020</span></p>
            <form id="form-steps" name="form" ng-submit="form.$valid ? next(form.$valid): showError(form.$error)" novalidate="" class="ng-invalid ng-invalid-min ng-valid-max ng-valid-required ng-dirty ng-valid-parse" style="">
                <fieldset>
                    <div class="row hidden">
                        <input type="number" ng-model="selectSeatNum" name="selectSeatNum" value="0" min="1" max="5" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-min ng-valid-max ng-valid-required">
                    </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Chọn tuyến xe</label>
                                    <!-- ngRepeat: schedule in schedules --><!-- ngIf: schedules.length > 0 --><div class="controls" ng-repeat="schedule in schedules" ng-animate="'animate'" ng-if="schedules.length > 0" style="">
                                        <i class="fa fa-bus text-primary"></i>
                                        <p class="form-control valid" ng-class="form.$dirty ? (form.selectRoute.$valid ? 'valid': 'invalid'): ''" style="">
                                            <span class="f-left">BX Mien Dong ⇒ Da Nang</span>
                                            <span class="f-right">
                                                <span ng-bind-html="info.price|svcMoney">375.000<sup>₫</sup></span>&nbsp;
                                                <input type="radio" ng-model="info.selectRoute" name="selectRoute" ng-value="schedule" required="" class="ng-valid ng-valid-required ng-dirty ng-touched ng-valid-parse" value="[object Object]" style="">
                                            </span>
                                        </p>
                                        <!-- ngIf: info.price == 0 && getPriceComplete === true -->
                                    </div><!-- end ngIf: schedules.length > 0 --><!-- end ngRepeat: schedule in schedules --><!-- ngIf: schedules.length > 0 --><div class="controls" ng-repeat="schedule in schedules" ng-animate="'animate'" ng-if="schedules.length > 0">
                                        <i class="fa fa-bus text-primary"></i>
                                        <p class="form-control valid" ng-class="form.$dirty ? (form.selectRoute.$valid ? 'valid': 'invalid'): ''" style="">
                                            <span class="f-left">BX An Suong ⇒ Da Nang</span>
                                            <span class="f-right">
                                                <span ng-bind-html="info.price|svcMoney">375.000<sup>₫</sup></span>&nbsp;
                                                <input type="radio" ng-model="info.selectRoute" name="selectRoute" ng-value="schedule" required="" class="ng-valid ng-valid-required ng-dirty ng-touched" value="[object Object]" style="">
                                            </span>
                                        </p>
                                        <!-- ngIf: info.price == 0 && getPriceComplete === true -->
                                    </div><!-- end ngIf: schedules.length > 0 --><!-- end ngRepeat: schedule in schedules -->
                                    <!-- ngIf: schedules.length == 0 && getScheduleComplete === true -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Chọn giờ khởi hành</label>
                                    <!-- ngIf: timeTables.length > 0 --><div class="controls" ng-if="timeTables.length > 0" style="">
                                        <i class="fa fa-clock-o text-primary"></i>
                                        <select class="form-control ng-pristine ng-untouched ng-valid ng-valid-required valid" ng-class="form.$dirty ? (form.departureTime.$valid ? 'valid': 'invalid'): ''" name="departureTime" ng-model="info.departureTime" ng-options="option.DisplayText for option in timeTables track by option.Id" required="" style=""><option value="3306777" label="10:30 (Giường)" selected="selected">10:30 (Giường)</option><option value="3306808" label="13:00 (Giường)">13:00 (Giường)</option><option value="3306839" label="14:30 (Giường)" selected="selected">14:30 (Giường)</option><option value="3306870" label="16:30 (Giường)">16:30 (Giường)</option><option value="3306901" label="18:30 (Giường)">18:30 (Giường)</option><option value="3322121" label="19:45 (Giường)">19:45 (Giường)</option></select>
                                       
                                    </div><!-- end ngIf: timeTables.length > 0 -->
                                    <!-- ngIf: timeTables.length == 0 && getTimeTableComplete === true -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Chọn điểm lên xe</label>
                                    <!-- ngIf: pickUpPoints.length > 0 --><div class="controls" ng-if="pickUpPoints.length > 0" style="">
                                        <i class="fa fa-map-marker text-primary"></i>
                                        <select class="form-control ng-pristine ng-untouched ng-valid ng-valid-required valid" ng-class="form.$dirty ? (form.pickUpPoint.$valid ? 'valid': 'invalid'): ''" name="pickUpPoint" ng-model="info.pickUpPoint" ng-options="option.Address for option in pickUpPoints track by option.Id" required="" style=""><option value="1747386" label="VP Thủ Đức: 798 XLHN , P.Hiệp Phú , Q.9, TP HCM" selected="selected">VP Thủ Đức: 798 XLHN , P.Hiệp Phú , Q.9, TP HCM</option><option value="1747420" label="VP Suối Linh: D9 Vòng Xoay Tam Hiệp, TP. Biên Hòa, Đồng Nai">VP Suối Linh: D9 Vòng Xoay Tam Hiệp, TP. Biên Hòa, Đồng Nai</option><option value="1747685" label="VP Qui Nhơn, 233 Tây Sơn, Quang Trung, TP.Quy Nhơn">VP Qui Nhơn, 233 Tây Sơn, Quang Trung, TP.Quy Nhơn</option><option value="1747444" label="VP BX Miền Đông: 292 Đinh Bộ Lĩnh, P.26, Q.Bình Thạnh, TP HCM (TERMINAL BUS STATION)" selected="selected">VP BX Miền Đông: 292 Đinh Bộ Lĩnh, P.26, Q.Bình Thạnh, TP HCM (TERMINAL BUS STATION)</option></select>
                                    </div><!-- end ngIf: pickUpPoints.length > 0 -->
                                    <!-- ngIf: pickUpPoints.length == 0 && getPickUpPointComplete === true -->
                                </div>
                            </div>
                        </div>
                        <div class="form-section">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-ms-12">
                                <a ng-click="prev()" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left icon-flat bg-btn-actived"></i> Quay lại</a>
                                <button type="submit" class="btn btn-success btn-flat btnCreateInfoCustomer"><i class="fa fa-arrow-right icon-flat bg-success"></i>Tiếp tục</button>
                            </div>
                        </div>
</fieldset>

            </form>
        </div>
        <div class="panel">
            <p class="text-center text-uppercase text-primary">Thông tin chuyến</p>
            <div id="step-info">
                <table class="time-map table">
                    <tbody><tr>
                        <td>
                            <p>
                                <i class="fa fa-bus text-primary"></i> <strong>Xuất phát</strong>
                            </p>
                            <span ng-bind-html="step1Info.departureDate|svcDate">06-05-2020</span><br>
                            <span>14:30</span>
                        </td>
                        <td class="time-line">
                            <div class="first"></div>
                        </td>
                        <td>
                            <p>&nbsp;</p>
                            <p>
                                TP.Hồ Chí Minh<br>BX Mien Dong
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <i class="fa fa-clock-o"></i>
                                một ngày
                            </p>
                        </td>
                        <td class="time-line">
                            <div class="middle">

                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                <i class="fa fa-bus text-primary"></i> <strong>Đến lúc</strong>
                            </p>
                            <span ng-bind-html="dropOffDateTime|svcDate">07-05-2020</span><br>
                            <span ng-bind-html="dropOffDateTime|svcTime">13:30</span>
                        </td>
                        <td class="time-line ">
                            <div class="end"></div>
                        </td>
                        <td>
                            <p>&nbsp;</p>
                            <p>
                                Đà Nẵng<br>Da Nang
                            </p>
                        </td>
                    </tr>
                </tbody></table>
                <!--<p>
                    <strong>Số ghế:</strong>
                    <span ng-show="info.selectSeats.length > 0">
                        <span ng-repeat="s in info.selectSeats">{{s.Chair}}{{$last ? '' : ', '}}</span>
                    </span>
                </p>
                <p>
                    <strong>Tổng tiền:</strong>
                    (<span class="text-primary" ng-bind-html="info.total|svcMoney"></span>)
                </p>-->
                <p>
                    <strong>Miễn phí</strong>
                    <span>
                        <span class="water sprite" title="Nước uống"></span>
                        <span class="khan sprite" title="Khăn lạnh"></span>
                        <span class="wifi sprite" title="Wifi"></span>
                        <span class="tivi sprite" title="Tivi"></span>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-xs-12 col-ms-12">

        <div class="panel">

            <div>
                <table class="table seat-choose">
                    <tbody><tr>
                        <td>
                            <strong class="text-uppercase">Số ghế: </strong>
                            <span class="">Chưa chọn ghế</span>
                        </td>
                        <td class="text-right">
                            <strong class="text-uppercase">Tổng tiền:</strong>
                            (<span class="text-primary" style="font-weight: 600;" ng-bind-html="info.total|svcMoney">0<sup>₫</sup></span>)
                        </td>
                    </tr>
                    
                </tbody></table>
            </div>
            <a href="/chon-tuyen"><span>Chọn lại</span></a>

            <div class="">
                <div ng-switch-when="Giường">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6" ng-repeat="(k,v) in seats track by $index">
                            <table style="margin-left: 170px;"class="table grid-seat">
                                <thead>
                                    <tr>
                                        <th colspan="5"><p class="text-center text-uppercase text-primary">Xe vui vẻ</p></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="seat1">
                                            <div  class="seat">A01</div>
                                        </td><td>
                                        </td><td id="seat2">
                                            <div  class="seat">A02</div>
                                        </td><td>
                                        </td><td id="seat3">
                                            <div  class="seat">A03</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="seat4">
                                            <div  class="seat">A04</div>
                                        </td><td>
                                        </td><td id="seat5">
                                            <div  class="seat">A05</div>
                                        </td><td>
                                        </td><td id="seat6">
                                            <div class="seat">A06</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="seat7">
                                            <div class="seat">A07</div>
                                        </td><td>
                                        </td><td id="seat8">
                                            <div class="seat">A08</div>
                                        </td><td>
                                        </td>
                                        <td>
                                            <div class="seat choosed" ng-switch-when="1"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="seat10">
                                            <div class="seat">A10</div>
                                        </td><td>
                                        </td><td id="seat11">
                                            <div class="seat">A11</div>
                                        </td><td>
                                        </td><td id="seat12">
                                            <div class="seat">A12</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id="seat13">
                                            <div class="seat">A13</div>
                                        </td><td>
                        
                                        </td><td id="seat14">
                                            <div class="seat">A14</div>
                                        </td>
                                        <td></td>
                                        <td id="seat15">
                                            <div class="seat">A15</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        </td><td id="seat16">
                                            <div class="seat">A16</div>
                                        </td><td>
                                        </td><td id="seat17">
                                            <div class="seat">A17</div>
                                        </td>
                                        <td></td><td id="seat18">
                                            <div class="seat">A18</div>
                                        </td>
                                    </tr>
                                    <tr>
                                    </td><td id="seat19">
                                        <div class="seat">A19</div>
                                    </td><td>
                                    </td><td id="seat20">
                                        <div class="seat">A20</div>
                                    </td>
                                    <td></td><td id="seat21">
                                        <div class="seat">A21</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- end ngRepeat: (k,v) in seats track by $index --><div class="col-xs-12 col-sm-6" ng-repeat="(k,v) in seats track by $index">
                            
                        </div><!-- end ngRepeat: (k,v) in seats track by $index -->
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12 text-center">
                            <div class="ordered"></div><span>Đang chọn</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12 text-center">
                            <div class="booked"></div><span>Đã đặt</span>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-ms-12 text-center">
                            <div class="nothing"></div><span>Còn trống</span>
                        </div>
                    </div>
                </div>
				<!-- ngSwitchWhen: Limousine -->
            </div><!-- end ngIf: seats.length > 0 -->
            <!-- ngIf: seats.length == 0 && getSeatComplete === true -->
        </div>

    </div>
    </div>
    </div>

    <!--<div id="map" class="container">
        <p class="text-center">
            <a href="javscript:void(0)" onclick="jQuery('#maps').slideDown()" class="text-uppercase"><i class="fa fa-map"></i> Xem bản đồ <i class="fa fa-caret-down"></i> </a>
            <a href="javscript:void(0)" onclick="jQuery('#maps').slideUp()" class="text-uppercase">Thu gọn <i class="fa fa-caret-up"></i></a>
        </p>
        <div id="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501703.5183989863!2d106.69436259999999!3d10.76845105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2sHo+Chi+Minh+City%2C+Ho+Chi+Minh%2C+Vietnam!5e0!3m2!1sen!2s!4v1444045703499" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>-->

</section>

<%- include ('../partials/footer') %>  

<script>
    for(let i = 1; i < 22; i++){

        $(document).on('click', `#seat${i}`, function(e) {
        e.preventDefault();

        $(`#seat${i}`).addClass('active-seat');
        $('.seat-choose').find('span').empty();
        $('.seat-choose').find('tbody').append(`<p>Ghế ${i}, </p>`)
        //$('.seat-choose').append(`<span >Chưa chọn ghế</span>`)
        });
    }

    $(document).on('click', `.btnCreateInfoCustomer`, function(e) {
        e.preventDefault();
        window.location.href = "/thong-tin-khach-hang";
    });
    
</script>