<%- include ('../partials/header') %>   
<section id="body-content">
    <div id="steps" class="container">
        <ul class="list-step clearfix">
            <a style="color: black;" href="/"><li>Chọn tuyến <span></span> </li></a>
            <a style="color: black;" href="/chon-ghe"><li>Chọn ghế <span></span> </li></a>
            <a style="color: black;" href="/thong-tin-khach-hang"><li>Thông tin khách hàng <span></span> </li></a>
            <a style="color: black;" href="/hoan-thanh-dat-ve"><li class="active end">Thanh toán <span></span></li></a>
        </ul>
    </div>

    <div id="content-steps" class="container">
        <!-- ngIf: isRebooking === 1 -->
        <div class="alert alert-warning ng-hide" ng-show="gateway.hasOwnProperty('ChuyenKhoan')">
            <strong>Lưu ý !</strong>
            Nếu quý khách chọn hình thức thanh toán chuyển khoản, vui lòng chuyển khoản tiền vé trong vòng <strong>12 tiếng</strong> kể từ thời gian đặt vé.
            Để việc chuyển khoản được diễn ra nhanh chóng và tiện lợi, quý khách có thể ra ATM hoặc quầy giao dịch của ngân hàng VietinBank hoặc Agribank để chuyển khoản trực tiếp vào tài khoản Phương Trang.
            Thời gian chuyển khoản: <strong>08:00 đến 17:00 trong ngày</strong>, <strong>không nhận đặt vé chuyển khoản vào các ngày thứ Bảy, Chủ nhật</strong>
</div>
        <div class="row">
           
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-ms-12">
                    <div class="panel">
                        <p class="text-center text-primary text-uppercase">
                            <strong>Chọn cổng thanh toán</strong>
                        </p>
                        <form id="form-cus-info" name="form" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" ng-submit="book()" novalidate="">
                            <fieldset>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <ul class="row">
                                            <!-- ngRepeat: (k, v) in gateway track by $index --><li class="col-xs-6 col-md-4" ng-repeat="(k, v) in gateway track by $index">
                                                <div class="gwitem text-center ">
                                                    <p ng-bind-html="v.name">Thanh toán thẻ tín dụng/ghi nợ</p>
                                                    <img src="/Content/img/bank/gateway/cybersource.png" alt="Thanh toán thẻ tín dụng/ghi nợ">
                                                    <input type="radio" ng-model="info.gateWay" name="selectGateway" ng-value="k" ng-change="selectGateway(k, v.type)" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required" value="Cybersource">
                                                </div>
                                            </li><!-- end ngRepeat: (k, v) in gateway track by $index --><li class="col-xs-6 col-md-4" ng-repeat="(k, v) in gateway track by $index">
                                                <div class="gwitem text-center ">
                                                    <p ng-bind-html="v.name">Thanh toán thẻ ATM Nội địa</p>
                                                    <img src="/Content/img/bank/gateway/nganluong.png" alt="Thanh toán thẻ ATM Nội địa">
                                                    <input type="radio" ng-model="info.gateWay" name="selectGateway" ng-value="k" ng-change="selectGateway(k, v.type)" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required" value="NganLuong">
                                                </div>
                                            </li><!-- end ngRepeat: (k, v) in gateway track by $index --><li class="col-xs-6 col-md-4" ng-repeat="(k, v) in gateway track by $index">
                                                <div class="gwitem text-center ">
                                                    <p ng-bind-html="v.name">Thanh toán thẻ ATM Nội địa</p>
                                                    <img src="/Content/img/bank/gateway/napas.png" alt="Thanh toán thẻ ATM Nội địa">
                                                    <input type="radio" ng-model="info.gateWay" name="selectGateway" ng-value="k" ng-change="selectGateway(k, v.type)" required="" class="ng-pristine ng-untouched ng-invalid ng-invalid-required" value="Napas">
                                                </div>
                                            </li><!-- end ngRepeat: (k, v) in gateway track by $index -->
                                        </ul>
                                    </div>
                                </div>


                                <div class="form-group">

                                    <div class="col-lg-12 col-md-12 col-sm-2 col-xs-12 col-ms-12">
                                        <button type="submit" class="btn btn-success btn-block btn-flat">
                                            <i class="fa fa-credit-card icon-flat bg-success"></i> Thực hiện thanh toán
                                        </button>
                                    </div>


                                </div>



                            </fieldset>

                        </form>
                    </div>
                </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-ms-12">
                <div class="panel">

                    <p class="text-center text-uppercase text-primary">
                        <strong>Thông tin đặt vé</strong>
                    </p>
                    <form class="form-horizontal ng-pristine ng-valid" name="form" novalidate="">
                        <div class="form-group">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody><tr>
                                        <td class="col-xs-3">Tuyến:</td>
                                        <td class="col-xs-9" colspan="3" ng-bind-html="step2Info.selectRoute.Name">Chau Doc ⇒ Can Tho</td>
                                    </tr>
                                    <tr>
                                        <td>Ngày đi:</td>
                                        <td>
                                            <span ng-bind-html="step2Info.departureTime.Time">06:00</span>
                                            <span ng-bind-html="step1Info.departureDate|svcDate">06-05-2020</span>
                                        </td>
                                        <td>Ghế/giường:</td>
                                        <td><!-- ngRepeat: s in step2Info.selectSeats --><span ng-repeat="s in step2Info.selectSeats">11</span><!-- end ngRepeat: s in step2Info.selectSeats --></td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td>Điểm lên xe:</td>
                                        <td colspan="3" ng-bind-html="step2Info.pickUpPoint.Address">VP Châu Đốc: 69 Phan Văn Vàng, P.Châu Phú A , TP.Châu Đốc (TERMINAL BUS STATION)</td>
                                    </tr>
                                    <tr class="sperator">
                                        <td>Họ tên:</td>
                                        <td ng-bind-html="step3Info.CustName">sdas</td>
                                        <td>Ngày sinh:</td>
                                        <td ng-bind-html="step3Info.CustBirthDay|svcDate">13-05-1999</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td ng-bind-html="step3Info.CustEmail">dsad@gmail.com</td>
                                        <td>SĐT:</td>
                                        <td>
                                            <span ng-bind-html="step3Info.CustMobile">0977665524</span>
                                            <span ng-bind-html="step3Info.CustMobile2">0977665525</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Tổng tiền:</td>
                                        <td colspan="3">
                                            <strong class="text-primary" ng-bind-html="step2Info.total|svcMoney">100.000<sup>₫</sup></strong>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 col-md-12 col-sm-2 col-xs-12 col-ms-12">
                                <a ng-click="prev()" class="btn btn-primary btn-block btn-flat">
                                    <i class="fa fa-arrow-left icon-flat bg-btn-actived"></i> Quay lại
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<%- include ('../partials/footer') %>   
