<!DOCTYPE html>
<html>
   <head>
      <title>Đăng k&#253; | FUTABus ID</title>
      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link rel="stylesheet" id="theme-style-css" href="/futabus.vn/Content/css/style.min.css" type="text/css" media="all">
      <link async rel="stylesheet" href="/futabus.vn/font-awesome/css/font-awesome.min.css">
      <link async href="/futabus.vn/Content/css/fontawesome-stars.css" rel="stylesheet">
      <link href="/futabus.vn/Content/plugins/sidebar/slidebars.css" rel="stylesheet">
      <link rel="stylesheet" href="/futabus.vn/Content/plugins/flexslider/flexslider.min.css" type="text/css" media="all">
      <link rel="stylesheet" href="/futabus.vn/Content/plugins/sliderTabs/styles/jquery.sliderTabs.min.css">
      <link rel="stylesheet" type="text/css" href="/futabus.vn/bower_components/bootstrap-select/css/bootstrap-select.min.css">
      <link rel="stylesheet" type="text/css" href="/futabus.vn/Content/js/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
      <link href="/futabus.vn/Content/css/animate.css" rel="stylesheet">
      <link href="/futabus.vn/Content/css/custom.min.css" rel="stylesheet" type="text/css" media="all">
   </head>
   <body>
      <div id="page">
         <header>
            <div id="top">
               <div class="container">
                  <ul class="nav navbar-nav">
                     <li>&nbsp;</li>
                  </ul>
               </div>
            </div>
            <div id="header-body">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                        <h1 id="logo">
                           <a href="https://futabus.vn">
                           <img src="/futabus.vn/Content/img/logo-futa-edit.png" style="width:50%" alt="FUTA Bus Lines" />
                           </a>
                        </h1>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <section id="body-content">
            <div class="container" id="login-page">
               <div id="body-login" class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                     <div id="login-form-left" class="border clearfix">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-ms-12 col-lg-offset-2 col-md-offset-2">
                           <h3 class="text-uppercase text-center">Tôi đã đăng ký tài khoản</h3>
                           <form action="https://api5.futabus.vn/api/auth/credentials?Continue=https://id.futabus.vn/" method="post" class="form-horizontal">
                              <div class="form-group">
                                 <label for="">Email*</label>
                                 <input class="form-control" data-val="true" data-val-required="Vui lòng điền email hoặc sđt" id="email" name="UserName" placeholder="Điền email" type="text" value="" />
                              </div>
                              <div class="form-group">
                                 <label for="">Mật khẩu*</label>
                                 <input class="form-control" data-val="true" data-val-required="Vui lòng nhập mật khẩu" id="password" name="Password" placeholder="Điền mật khẩu" type="password" />
                              </div>
                              <div class="form-group">
                                 <a href="/User/ForgetPassword">Quên mật khẩu?</a>
                                 <button class="btn btn-primary pull-right btnDangNhap" type="submit">
                                 Đăng nhập
                                 </button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                     <div id="login-form-right" class="border clearfix">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-ms-12 col-lg-offset-2 col-md-offset-2">
                           <h3 class="text-uppercase text-center">Bạn là khách hàng mới?</h3>
                           <p class="text-center">
                              <a href="/User/Register" class="btn btn-success">Đăng ký</a>
                           </p>
                           <p class="text-muted text-center">
                              Chỉ với 1 tài khoản FUTABUS ID, tham gia được tất cả các chương trình của FUTA Bus Lines
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <footer>
            <div id="footer-body">
               <div class="f-body-wrap container">
                  <nav id="nav-f">
                     <ul>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-lich-trinh.html">Lịch trình</a></li>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-ve-chung-toi.html">Về chúng tôi</a></li>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-dieu-khoan-su-dung.html">Điều khoản sử dụng</a></li>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-danh-gia.html">Góc góp ý</a></li>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-tuyen-dung.html">Tuyển dụng</a></li>
                     </ul>
                  </nav>
                  <div id="f-info" class="row">
                     <div id="social" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                        <ul>
                           <li>Kết nối chúng tôi</li>
                           <li>
                              <a href="">
                              <i class="fa fa-facebook-square"></i>
                              </a>
                           </li>
                           <li>
                              <a href="">
                              <i class="fa fa-google-plus-square"></i>
                              </a>
                           </li>
                           <li>
                              <a href="">
                              <i class="fa fa-twitter-square"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                     <div id="info" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                        <div id="info-c">
                           <p>CÔNG TY CP XE KHÁCH PHƯƠNG TRANG FUTA BUS LINES</p>
                           <p>Địa chỉ: 80 Trần Hưng Đạo, Q1, TP Hồ Chí Minh.</p>
                           <p>Điện thoại: 08 3838 6852 - Fax: 08 3838 6853</p>
                           <p>Website: futabus.vn - Email: lienhe@futabus.vn </p>
                        </div>
                     </div>
                  </div>
                  <div class="f-copy">
                     <p>&copy; BẢN QUYỀN THUỘC VỀ CÔNG TY CP XE KHÁCH PHƯƠNG TRANG FUTA BUS LINES</p>
                     <p>Tất cả bản quyền đã được bảo bộ</p>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <script type="text/javascript" src="/futabus.vn/Content/js/jquery-1.11.3.min.js"></script>
      <script type="text/javascript" src="/futabus.vn/Content/js/bootstrap.min.js"></script>
      <script src="/futabus.vn/Content/plugins/sidebar/slidebars.js"></script>
      <script src="/futabus.vn/Content/js/main.js"></script>
      <script src="/futabus.vn/Content/js/modernizr.js"></script>
      <script src="/futabus.vn/Content/js/jquery.barrating.es5.js"></script>
      <script type="text/javascript" src="/futabus.vn/bower_components/moment/min/moment-with-locales.min.js"></script>
   </body>
</html>

<script>
    $(document).on('click', '.btnDangNhap', function(e) {
        e.preventDefault();

        let email = $('#email').val().trim();
        let password = $('#password').val().trim();

        if (email.length < 1 || password.length < 1) {
            alert('Email hoặc mật khẩu không được để trống');
        } else {
            $.ajax({
                url: `/dang-nhap`,
                method: 'POST',
                data: {
                    email, password
                },
                success: resp => {

                    if (!resp.error) {

                        alert('Đăng nhập thành công');
                        location.href = "/"

                    } else {

                        return alert('Email hoặc mật khẩu không chính xác');
                    }
                },
                error: err => console.log({
                    err
                })
            });
        }
    })

</script>