<!DOCTYPE html>
<html>
   <head>
      <title>Đăng k&#253; | FUTABus ID</title>
      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link rel="stylesheet" id="theme-style-css" href="/futabus.vn/Content/css/style.min.css" type="text/css" media="all">
      <link async rel="stylesheet" href="/futabus.vn/font-awesome/css/font-awesome.min.css">
      <link async href="/futabus.vn/Content/css/fontawesome-stars.css" rel="stylesheet">
      <link href="/futabus.vn/Content/plugins/sidebar/slidebars.css" rel="stylesheet">
      <link rel="stylesheet" href="/futabus.vn/Content/plugins/flexslider/flexslider.min.css" type="text/css" media="all">
      <link rel="stylesheet" href="/futabus.vn/Content/plugins/sliderTabs/styles/jquery.sliderTabs.min.css">
      <link rel="stylesheet" type="text/css" href="/futabus.vn/bower_components/bootstrap-select/css/bootstrap-select.min.css">
      <link rel="stylesheet" type="text/css" href="/futabus.vn/Content/js/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
      <link href="/futabus.vn/Content/css/animate.css" rel="stylesheet">
      <link href="/futabus.vn/Content/css/custom.min.css" rel="stylesheet" type="text/css" media="all">
   </head>
   <body>
      <div id="page">
         <!-- header -->
         <header>
            <div id="top">
               <div class="container">
                  <ul class="nav navbar-nav">
                     <li>&nbsp;</li>
                  </ul>
               </div>
            </div>
            <div id="header-body">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                        <h1 id="logo">
                           <a href="https://futabus.vn">
                           <img src="/futabus.vn/Content/img/logo-futa-edit.png" style="width:50%" alt="FUTA Bus Lines" />
                           </a>
                        </h1>
                     </div>
                     <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-ms-12 pull-right text-right">
                        <button type="button" class="btn btn-primary btn-block btn-flat btn-support">
                        <i class="fa fa-phone icon-flat bg-btn-actived"></i>
                        Tổng đài hỗ trợ: <span>1900 6067</span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <section id="body-content">
            <div class="container" id="login-page">
               <div id="top-login" class="clearfix hidden-sm">
                  <div id="login-top-bar-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                     <div class="row">
                        <div class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                           <div class="text-uppercase"><span class="relative"><span class="sprite safe"></span>An toàn</span></div>
                        </div>
                        <div class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                           <div class="text-uppercase"><span class="relative"><span class="sprite bus"></span>Luôn có tuyến</span></div>
                        </div>
                        <div class="text-center col-lg-4 col-md-4 col-sm-4 col-xs-12 col-ms-12">
                           <div class="text-uppercase"><span class="relative"><span class="sprite faq"></span>Hỏi đáp</span></div>
                        </div>
                     </div>
                  </div>
                  <div id="login-top-bar-right" class="text-center col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                     <p class="text-uppercase">Hãy tải app để chúng tôi phục vụ bạn tốt hơn <span class="sprite ico-app hidden-xs"></span> </p>
                  </div>
               </div>
               <div id="body-register" class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                     <img src="https://znews-photo.zadn.vn/w1024/Uploaded/qhj_yvobvhfwbv/2018_07_18/Nguyen_Huy_Binh1.jpg"/>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                     <div id="register-form-wrapper" class="border padding10 clearfix">
                        <form action="/User/Register" method="post">
                           <input name="__RequestVerificationToken" type="hidden" value="3IXZVJC0XrXWHcwRp-GMjuyvGiYZ-QuTUVIXUr3K7w2SBkVj3bnSzBwlKrOJ7gg2-Hx-GFU1bq7vaBX_fETbhSdfTQg1" />                    
                           <h3 class="text-uppercase">Đăng ký</h3>
                           <p class="text-muted">
                              <small>
                              Lưu ý: Không hỗ trợ hotmail và outlook email<br>
                              Chỉ với 1 tài khoản FUTABUS ID, tham gia được tất cả các chương trình FUTA Bus Lines
                              </small>
                           </p>
                           <div class="form-group">
                              <label for="">Họ tên <span class="text-primary">*</span></label>
                              <input class="form-control" id="fullname" name="FullName" placeholder="Điền họ tên" type="text" value="" />
                           </div>
                           <div class="form-group">
                              <label for="">Email <span class="text-primary">*</span></label>
                              <input class="form-control" id="email" name="Email" placeholder="Điền địa chỉ email" type="email" value="" />
                           </div>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ms-12">
                                    <label for="">Mật khẩu <span class="text-primary">*</span></label>
                                    <input class="form-control" id="password" name="Password" placeholder="Điền mật khẩu" type="password" />
                                 </div>
                                 
                              </div>
                           </div>
                           <h3 class="text-uppercase">Thông tin khác</h3>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                    <label for="">Số di động <span class="text-primary">*</span></label>
                                    <input class="form-control" id="phone" name="Phone" placeholder="Điền số di động" type="text" value="" />
                                 </div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                    <label for="">Số CMNN <span class="text-primary">*</span></label>
                                    <input class="form-control" id="CMND" name="SecurityNumber" placeholder="Điền số chứng minh thư" type="text" value="" />
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                    <label for="">Tỉnh <span class="text-primary">*</span></label>
                                    <input class="form-control" id="province" name="Phone" placeholder="Tỉnh" type="text" value="" />
                                 </div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                    <label for="">Quận Huyện <span class="text-primary">*</span></label>
                                    <input class="form-control" id="district" name="Phone" placeholder="Quận Huyện" type="text" value="" />
                                 </div>
                                 
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                                    <label for="">Ngày sinh <span class="text-primary">*</span></label>
                                    <input class="form-control" id="birthDay" name="Phone" placeholder="Ngày sinh" type="text" value="" />
                                 </div>
                              </div>
                           </div>
                           <div class="form-group">
                              
                           </div>
                           <div class="form-group clearfix">
                              <button class="btn btn-primary pull-right btnDangKy">Đăng ký</button>
                           </div>
                           <p class="clearfix">
                              <small class="pull-right"><span class="text-primary">*</span> Mục bắt buộc </small>
                           </p>
                           <p class="text-center">
                              Nếu bạn đã có FUTABUS ID. CLick <a href="/User/Login">đây</a> để đăng nhập
                           </p>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- footer -->
         <footer>
            <div id="footer-body">
               <div class="f-body-wrap container">
                  <nav id="nav-f">
                     <ul>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-lich-trinh.html">Lịch trình</a></li>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-ve-chung-toi.html">Về chúng tôi</a></li>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-dieu-khoan-su-dung.html">Điều khoản sử dụng</a></li>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-danh-gia.html">Góc góp ý</a></li>
                        <li><a href="https://futabus.vn/vi-VN/ve-xe-phuong-trang-tuyen-dung.html">Tuyển dụng</a></li>
                     </ul>
                  </nav>
                  <div id="f-info" class="row">
                     <div id="social" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                        <ul>
                           <li>Kết nối chúng tôi</li>
                           <li>
                              <a href="">
                              <i class="fa fa-facebook-square"></i>
                              </a>
                           </li>
                           <li>
                              <a href="">
                              <i class="fa fa-google-plus-square"></i>
                              </a>
                           </li>
                           <li>
                              <a href="">
                              <i class="fa fa-twitter-square"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                     <div id="info" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-ms-12">
                        <div id="info-c">
                           <p>CÔNG TY CP XE KHÁCH PHƯƠNG TRANG FUTA BUS LINES</p>
                           <p>Địa chỉ: 80 Trần Hưng Đạo, Q1, TP Hồ Chí Minh.</p>
                           <p>Điện thoại: 08 3838 6852 - Fax: 08 3838 6853</p>
                           <p>Website: futabus.vn - Email: lienhe@futabus.vn </p>
                        </div>
                     </div>
                  </div>
                  <div class="f-copy">
                     <p>&copy; BẢN QUYỀN THUỘC VỀ CÔNG TY CP XE KHÁCH PHƯƠNG TRANG FUTA BUS LINES</p>
                     <p>Tất cả bản quyền đã được bảo bộ</p>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <script type="text/javascript" src="/futabus.vn/Content/js/jquery-1.11.3.min.js"></script>
      <script type="text/javascript" src="/futabus.vn/Content/js/bootstrap.min.js"></script>
      <script src="/futabus.vn/Content/plugins/sidebar/slidebars.js"></script>
      <script src="/futabus.vn/Content/js/main.js"></script>
      <script src="/futabus.vn/Content/js/modernizr.js"></script>
      <script src="/futabus.vn/Content/js/jquery.barrating.es5.js"></script>
      <script type="text/javascript" src="/futabus.vn/bower_components/moment/min/moment-with-locales.min.js"></script>
      <!-- GA -->
   </body>
</html>

<script>

    $(document).on('click', '.btnDangKy', function(e) {
        e.preventDefault();

        let fullname = $('#fullname').val().trim();
        let email = $('#email').val().trim();
        let password = $('#password').val().trim();
        let phone = $('#phone').val().trim();
        let birthDay = $('#birthDay').val().trim();
        let province = $('#province').val().trim();
        let district = $('#district').val().trim();
        let CMND = $('#CMND').val().trim();

        console.log({ fullname, email, password, phone, birthDay, province, district, CMND })

        if (email.length < 1 || password.length < 1 || fullname.length < 1) {

			alert('Các trường không được để trống', 'Thông báo')
			
        } else {
            $.ajax({
                url: `/dang-ky`,
                method: 'POST',
                data: {
                    fullname, email, password, phone, birthDay, province, district, CMND
                },
                success: resp => {

                    console.log({ resp })

                    if (!resp.error) {
						      alert("Đăng ký thành công")
                        return window.location.href = `/dang-nhap`;

                    } else {

                        alert('Đăng ký thất bại');
                    }
                },
                error: err => console.log({
                    err
                })
            });
        }
    })
</script>